body {
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, sans-serif;
}
button {
	background: white;
	color: black;
	font-size: 17px;
}
.title {
	margin-top: 50px;
}
.menu {
	position: fixed;
	left: 0;
	top: 0;
}
.rootMenu {
	position: absolute;
	top: 0;
	left: -250px;
	min-height: 100%;
	border-right: solid 1px #CCC;
	transition: left 0.275s;
	overflow: hidden;
	overflow-y: auto;
	max-height: 100%;
	background: #fff;
	padding: 10px;
	box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
}
.pitchCircle, .fifthCircle {
	display: inline-block;
}
.fretboard {
	
	color:white;
	margin-bottom: 20px;
}
.fretboard table {
	width: 90%;
	background: url("../img/fretboard.jpg");
	margin: auto;
}
.fretboard-note {
	width: 40px;
	height: 5px;
	outline: solid 2px silver;
	text-align: center;
	transition: all 0.5s;
}

.fretboard-note-selected, .fretboard-note-root {
	background-color: white;
	color: black;
	opacity: .65488778;
}
.fretboard-note-root {
	background-color: red;
}
.fretboard-title {
	background: white;
	color: black;
	border-color: white;
}
.fretboard-note-selected:before {
}
.fretboard-note:hover{
	cursor: pointer;
	background: white;
	color: black;
	transition: all 0.275s;
}
.xad-tab:hover {
	cursor: pointer;
	background: #EEE;
}
.xad-tab {
	display: inline-block;
	width: 25px;
	padding: 2px;
	background: #bbb;
	border: solid 1px #BBB;
	border-top-color: #BBB;
}
.xad-selected-tab {
	background: #FFF;
}
.xad-body {
	width: 100%;
	display: block;
	visibility: visible;
	background: #FFF;
	overflow-y: scroll;
	height: 350px;
	border: solid 1px #BBB;
}
.xad-tab-container {
	width: 90%;
	height: 350px;
	margin: 5%;
}
.xad-tab-note {
	background: #FFF;
	color: #000;
	border: solid 1px black;
	display: inline-block;
}
.xad-tab-container h2 {
	font-size: 17px;
	margin: 2px;
	background: #EEE;
}
.xad-body table {
	border-collapse: collapse;
	width: 100%;
	border-top: none;
	border-left: none;
}
.xad-body td, .xad-body th {
	border: solid 1px #ccc;
	border-top: none;
	border-left: none;
	padding: 2px 5px;
}
.xad-body th {
	width: 200px;
	background: #EEE;
}
.xad-body sup {
	color: #666;
	padding-left: 2px;
}