.piano {
	line-height: .8;
	margin-top: 20px;
	margin-left: auto;
	height: 170px;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 15px;
	border-left: solid 1px black;
	border-right: solid 1px black;
	display: inline-block;
	box-shadow: 1px 1px 14px 0px rgba(50, 50, 50, 0.75);
	background: black;
	font-size: 11px;
}
.key {
	cursor: pointer;
	height: 170px;
	width: 22px;
	display: inline-block;
	color: black;
	text-shadow: 0px 0px 14px rgba(255, 255, 255, 1);
	font-size: 1.5em;
}
.key_Bb {
	margin-right: 29px;
}
.key_Db {
	margin-right: 8px;
}
.key_Eb {
	margin-right: 29px;
}
.key_Gb {
	margin-right: 10px;
}
.key_Ab {
	margin-right: 10px;
}

.blackKeys {
	background: linear-gradient(to bottom, #000000 0%,#000000 75%,#070707 88%,#000000 88.5%,#ffffff 89%,#000000 90%,#040404 97%,#000000 100%);
	height: 21px;
	width: 15px;
	padding-top: 90px;
	color: transparent;
}
.whiteKeys div {
	text-align: center;
}
.whiteKeys {
	background: linear-gradient(to bottom, #fffcf2 0%,#fffcf2 95%,#ffffff 96%,#ffffff 96%,#fffcf2 99%);
	padding-top: 145px;
	border-left: solid 1px #000000;
	border-top: solid 1px #000000;
	border-bottom: solid 1px #000000;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	color: transparent;
}
.blackOctave, .whiteOctave {
	display: inline-block;
	width: 160px;
}
.upper {
	display: block;
}
.lower {
	height: 168px;
	margin-bottom: -168px;
	margin-left: -16px;
	display: block;
}
.selectedKey.whiteKeys div, .selectedKey.blackKeys div {
	text-align: center;
	margin: auto;
	padding: 0;
}
.selectedKey.whiteKeys div {
	color: #666;
}
.selectedKey.blackKeys div {
	color: #FFF;
}

.selectedRootKey div {
	text-align: center;
	color: #666;
	border-radius: 10px;
}
.blackKeys.selectedRootKey div {
	color: #FFF;
}
.key:hover {
	color: black;
	background: #666;
}
.midiNoteNumber {
	display: none;
	visibility: hidden;
}
.blackKeys, .whiteKeys {
	line-height: 10px;
}
.highlightKey {
	background: blue;
}
