body { 
    margin: 0;
    padding: 0;
    font-family: arial, helvetica, sans-serif;
    background: black;
}
.fretboard {
    color:white;
    margin-bottom: 20px;
}
.fretboard table {
    width: 100%;
    background: url("../img/fretboard.jpg");
    margin: auto;
}
.fretboard-note {
    width: 40px;
    height: 5px;
    outline: solid 2px silver;
    text-align: center;
    transition: all 0.5s;
}

.fretboard-note-selected, .fretboard-note-root {
    background-color: white;
    color: white;
}
.fretboard-note-root {
    background-color: transparent;
}
.fretboard-title {
    background: white;
    color: black;
    border-color: white;
}
.fretboard-note-selected:before {
}
.fretboard-note:hover{
    cursor: pointer;
    background: white;
    color: black;
    transition: all 0.275s;
}
